.Weather {
  border: 1px solid darkred;
  padding: 16px;
  margin: 30px auto;
  border-radius: 11px;
  font-family: Consolas;
  background-image: linear-gradient(black, grey, lightgrey, white);
}

.w-100 {
  border: 1px solid darkred;
  color: darkred;
  background: orange;
}

.form-control {
  border: 5px solid darkred;
  color: darkred;
  background-color: orange;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: darkred;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: darkred;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  height: 64px;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: bold;
  color: darkred;
  font-size: 45px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: darkred;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 0px;
}

.Weather .unit a {
  color: darkred;
}

footer a {
  color: darkred;
}
